@use './mixins' as mx; 
@use './variables' as var;
.about {
    margin-top: 6rem;
    @media(max-width: var.$maxTablet) {
        margin-top: 4rem;
    }
    @media(max-width: var.$mobile) {
        margin-top: 3rem;
    }
    &__container{
        
    }
    &__content {
        display: flex;
        flex-direction: column;
    }    
}

.content {
    &__title {
        &:not(:last-child){
            margin-bottom: 2.5rem;
        }
    }
    &__text {
        margin-top: 1rem;
        line-height: 2;
        @include mx.adaptive-font(20, 18);
    }
}

.about-title.title__value {
    // @include adaptive-font(64, 34);
    font-weight: 500;
}