.about {
    margin-top: 6rem;
    @media(max-width: $minTablet){
        padding: 2.5rem 0;
    }
    &__container{
        
    }
    &__content {
        display: flex;
        flex-direction: column;
    }    
}

.content {
    &__title {
        &:not(:last-child){
            margin-bottom: 2.5rem;
        }
    }
    &__text {
        margin-top: 1rem;
        line-height: 2;
        @include adaptive-font(20, 18);
    }
}

.about-title{
 @include adaptive-font(64, 34);
}