// Title components
.title {
    &__label {
        position: relative;
        font-weight: 300;
        @include adaptive-font(20, 16);
        line-height: 1.2;
        letter-spacing: 7.5px;
        text-transform: uppercase;
        display: flex;
        align-items: center;
        gap: 1rem;
        &::before{
            content: "";
            display: block;
            height: 2px;
            width: 1.5rem;
            background-color: $darkGreyColor;

        }
    }
    &__value {
        font-weight: 700;
        @include adaptive-font(54, 40);
        line-height: 2;
        color: $headersColor;
    }
}

