// Swiper styles
@import 'swiper/css';
@import 'swiper/css/navigation';
@import 'swiper/css/pagination';
// Animation library styles
@import 'aos/dist/aos.css';

// Title components
.title {
    &__label {
        font-family: $mainFontFamily;
        position: relative;
        font-weight: 500;
        @include adaptive-font(12, 10);
        line-height: 1.2;
        letter-spacing: 7.5px;
        text-transform: uppercase;
        display: flex;
        align-items: center;
        gap: 1rem;
        &::before{
            content: "";
            display: block;
            height: 1px;
            width: 1.5rem;
            background-color: $mainColor;
        }
    }
    &__value {
        font-weight: 300;
        @include adaptive-font(44, 30);
        line-height: 2;
        color: $headersColor;
        margin-top: 1rem;
        @media(max-width: $minTablet){
            line-height: 1.2;
        }
    }
}
.dark .title__label{
    &::before{
        background-color: $whiteColor;
    }
}
