@use './mixins' as mx; 
@use './variables' as var;
.contacts {
    margin-top: 6rem;
    font-family: var.$mainFontFamily;
    @media(max-width: var.$maxTablet) {
        margin-top: 4rem;
    }
    @media(max-width: var.$mobile) {
        margin-top: 3rem;
    }
    &__container {
    }
    &__content {
    }
    &__title {
    }
}

.contacts__links {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    margin: 4rem 0;
    @media(max-width: var.$maxMobile) {
        flex-direction: column;
        align-items: baseline;
        margin: 2rem 0;
    }
}
.contact-link {
    text-transform: capitalize;
    
    font-weight: 500;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    border: 1px solid transparent;
    border-radius: 0.5rem;
    outline: none;
    @include mx.adaptive-font(36, 24);
    &:hover,
    &:focus-visible{
        border: 1px solid currentColor;
        color: var.$blueAccentColor;
        @include mx.transition(all 0.4s ease)
    }
    &__icon{
        margin-right: 1rem;
        width: 3.5rem;
        height: 3.5rem;
        padding: 0.5rem;
        border-radius: 1rem;
        box-shadow: 0px 5px 15px 5px rgba(0,0,0,0.1);
        display: flex;
        justify-content: center;
        align-items: center;
        svg{
            fill: currentColor;
            width: 1.875rem;
            height: 30px;
        }
    }
}
.chain-link {
    svg{
        stroke: currentColor;
        fill: none;
    }
}