.footer {
    padding: 2rem 0;
    &__container {
        display: flex;
        align-items: center;
        @media(max-width:$maxMobile){
            justify-content: center;
        }
    }
    &__copyright {
        padding: 1rem;
    }
    &__link {
        color: $blueAccentColor;
        font-weight: 500;
    }
    &__social {
    }
}

