@use './variables' as var;
.footer {
    padding: 2rem 0;
    &__container {
        display: flex;
        align-items: center;
        @media(max-width: var.$maxMobile){
            justify-content: center;
        }
    }
    &__copyright {
        padding: 1rem;
    }
    &__link {
        color: var.$blueAccentColor;
        font-weight: 500;
    }
    &__social {
    }
}

