.projects {
    margin-top: 6rem;
    @media(max-width: $maxTablet) {
        margin-top: 4rem;
    }
    @media(max-width: $mobile) {
        margin-top: 3rem;
    }
    &__container {
    }
    &__header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 2rem 0;
    }
    &__title {
    }
    &__controls {
        display: flex;
        align-items: center;
        gap: 1rem;
        @media(max-width: $mobile) {
            gap: 0.5rem;
        }
    }
    &__swiper {
    }
}

.project-item {
    width: 100%;
    overflow: hidden;
    border: 1px solid transparent;
    box-shadow: 0px 5px 15px 5px rgba(0,0,0,0.1);
    border-radius: 1rem;
    font-family: $sansFontFamily;
    &__image {  
        width: 100%;
        height: 200px;
        border: 1px solid transparent;
        outline: none;
        @include transition(all 0.4s ease);
        img {
            opacity: 0.8;
            object-position: top;
            object-fit: cover;
            width: 100%;
            height: 100%;
            &:hover,
            &:focus-visible {
                @include transition(all 0.8s ease);
                opacity: 1;
                transform: scale(1.05);
            }
            @media(max-width: $maxMobile){
                height: 10rem;
            }
        }
        &:hover{
            opacity: 1;
        }
    }
    &__title {
        font-weight: 500;
        color: $blueAccentColor;
        @include adaptive-font(28, 20);
        text-transform: uppercase;
        padding: 1rem 0 0 0;
        text-align: center;
    }
    &__body {
        flex: 1 1 auto;
        padding: 0 1rem;
        display: flex;
        flex-direction: column;
    }
    &__description {
        text-align: justify;
        line-height: 1.45;
        @include adaptive-font(18, 14);
        padding-top: 1rem
    }
    &__stack {
        @include adaptive-font(16, 12);
        color: $blueAccentColor;
        line-height: 1.65;
        padding-top: 1rem;
    }
    &__footer{
        display: flex;
        flex-direction: column;
        align-items: center;
   }
   &__links{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
        padding: 1rem;
   }
   &__link{
        border: 1px solid transparent;
        padding: 0.5rem;
        border-radius: 0.5rem;
        outline: none;
        &:focus-visible{
            border: 1px solid currentColor;
        }
   }
}

.link {
    display: flex;
    align-items: center;
    gap: 0.25rem;
    text-decoration: underline;
    color: $headersColor;
    @include adaptive-font(16, 12);
    &:hover{
        @include transition(all 0.4s ease);
        color: $blueAccentColor;
    }
    &-icon{
        svg {
            fill: currentColor;
            width: 1rem;
            height: 1rem;
        }
        &:hover{
           fill: $blueAccentColor;
        }
    }
}

.projects__arrow {
    background-color: rgba(17, 223, 250, 0.75);
    border-radius: 0.5rem;
    padding: 0.5rem;
    display: flex;
    border: 1px solid transparent; 
    outline: none;
    &:focus-visible{
        border: 1px solid currentColor;
    }
    @include transition(all 0.4s ease);
    &:hover{
        background-color: rgba(13, 185, 207, 0.75);
    }
    svg {        
        filter: invert(20%) sepia(27%) saturate(2726%) hue-rotate(165deg) brightness(92%) contrast(96%);
    }
}
.arrow-left {
    
}
.arrow-right {
    transform: rotate(180deg);
}
.swiper-button-disabled {
    svg {
        filter: brightness(0) invert(1);
    }
}

.dark .project-item__links {
    color: $mainColor;
}
.dark .project-item__description{
    color: $whiteColor;
}
.swiper-slide.project-item {
    display: flex;
    flex-direction: column;
    height: auto;
}