.projects {
    margin-bottom: 4.25rem;
    &__container {
    }
    &__header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 2rem 0;
    }
    &__title {
    }
    &__controls {
        display: flex;
        align-items: center;
        gap: 16px;
    }
    &__swiper {
    }
}

.project-item {
    width: auto;
    min-height: 100%;
    overflow: hidden;
    border: 1px solid transparent;
    box-shadow: 0px 5px 15px 5px rgba(0,0,0,0.1);
    border-radius: 1rem;
    background-color: $whiteColor;
    font-family: $sansFontFamily;
    &__image {
        overflow: hidden;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        @include transition(all 0.4s ease);
        img {
            opacity: 0.8;
            object-position: top;
            object-fit: cover;
            width: 100%;
            height: 15rem;
            &:hover{
                @include transition(all 0.8s ease);
                opacity: 1;
                transform: scale(1.05);
            }
        }
        &:hover{
            opacity: 1;
        }
    }
    &__title {
        font-weight: 500;
        color: $blueAccentColor;
        @include adaptive-font(28, 20);
        text-transform: uppercase;
        padding: 1rem 0 0 0;
        text-align: center;
    }
    &__body {
        padding: 1rem 1.5rem 1.5rem 1.5rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
        gap: 1rem;
    }
    &__description {
        text-align: justify;
        line-height: 1.45
    }
    &__stack {
        @include adaptive-font(16, 12);
        color: $headersColor;
        line-height: 1.65;
    }
    &__footer{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
   }
}
.dark .project-item__description{
    color: $darkGreyColor;
}
.link {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    text-decoration: underline;
    color: $darkGreyColor;
    &:hover{
        @include transition(all 0.4s ease);
        color: $blueAccentColor;
    }
    &-icon{
        svg {
            fill: currentColor;
            width: 1.5rem;
            height: 1.5rem;
        }
        &:hover{
           fill: $blueAccentColor;
        }
    }
}

.projects__arrow {
    background-color: rgba(14, 200, 225, 0.5);
    border-radius: 0.5rem;
    padding: 0.5rem;
    display: flex;
    @include transition(all 0.4s ease);
    &:hover{
        background-color: rgba(14, 200, 225, 0.75);
    }
    svg {
        
        filter: invert(20%) sepia(27%) saturate(2726%) hue-rotate(165deg) brightness(92%) contrast(96%);
    }
}
.arrow-left {
    
}
.arrow-right {
    transform: rotate(180deg);
}
.swiper-button-disabled {
    svg {
        filter: brightness(0) invert(1);
    }
}

.dark .project-item{
    background-color: $mainColor;
}