.tech-stack {
    margin-top: 6rem ;
    @media(max-width: $maxTablet) {
        margin-top: 4rem;
    }
    @media(max-width: $mobile) {
        margin-top: 3rem;
    }
    &__container {
    }
    &__title {
        
    }
    
    &__grid-wrapper {
        padding: 2rem 0 1rem 0;
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(4rem, 7.5rem));
        row-gap: 1.875rem;
        column-gap: 3rem;
        justify-content: space-between;
        justify-items: center;
        @media(max-width: $maxTablet) {
            column-gap: 4rem;
        }
        @media(max-width: $minTablet) {
            column-gap: 1rem;
            row-gap: 1rem;
        }        
    }
}

.grid-item {
  width: 120px;
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;

  svg {
    width: 100px;
    height: 100px;
    display: block;
    margin: 0 auto;
  }
}
