// Addaptive
$minMobile: 20rem;
$mobile: 26.5rem;
$maxMobile: 31.25rem;
$minTablet: 48rem;
$maxTablet: 62rem;
$minLaptop: 70rem;

$maxWidth: 1200;

//Fonts
$mainFontFamily: "TT Hoves";
$OpenSansFontFamily: "Open Sans";
$fontSize: 12px;

// Colors
$mainColor: #000;