// Addaptive
$minMobile: 20rem;
$mobile: 26.5rem;
$maxMobile: 31.25rem;
$minTablet: 48rem;
$maxTablet: 62rem;
$minLaptop: 70rem;

$maxWidth: 1600;

//Fonts
$mainFontFamily: "Inter";
$sansFontFamily: "DM Sans";
$fontSize: 18px;

// Colors
$mainColor: #757575;
$whiteColor: #fff;
$headersColor: #2a6084;
$darkGreyColor: #16262E;
$blueAccentColor: #14b2ba; 
// #01BAEF blue
// $greenAccentColor: #13901F;