@import "./reset";
@import "./variables";
@import "./mixins";
@import "./header";
@import "./footer";
@import "./home";
@import "./about";
@import "./projects";
@import "./tech-stack";
@import "./contacts";
@import "./common";

@import url("https://fonts.googleapis.com/css?family=Inter:300,regular,500&display=swap");
@import url("https://fonts.googleapis.com/css?family=DM+Sans:300,regular,500,800&display=swap");

.wrapper {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    overflow: clip;
    main {
        flex-grow: 1;
    }
}
[class*="__container"] {
    max-width: 75rem;
    margin: 0 auto;
    padding: 0 0.5rem;
}
body {
    font-family: $sansFontFamily, sans-serif; 
    font-size: $fontSize;
    color: $mainColor;
    background-color: $whiteColor;
    scroll-behavior: smooth;
    @include transition(all 0.4s ease);
}

body.dark{
    background-color: $darkGreyColor;
    color: $whiteColor;
}