@use "./reset";
@use './mixins' as mx; 
@use './variables' as var;
@use "./header";
@use "./footer";
@use "./home";
@use "./about";
@use "./projects";
@use "./tech-stack";
@use "./contacts";
@use "./common";


.wrapper {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    overflow: clip;
    main {
        flex-grow: 1;
    }
}

body {
    font-family: var.$sansFontFamily, sans-serif; 
    font-size: var.$fontSize;
    scroll-behavior: smooth;
    @include mx.transition(all 0.4s ease);
    @include mx.scrollbar(hsl(0deg 0% 0% / 15%), hsl(0deg 0% 0% / 25%),  hsl(0deg 0% 0% / 5%),  0.5rem, 0.25rem);
}

[data-theme="light"] {
    color: var.$mainColor;
    background-color: var.$whiteColor;
}
[data-theme="dark"] {
    background-color: var.$darkGreyColor;
    color: var.$whiteColor;
}
[class*="__container"] {
    max-width: 75rem;
    margin: 0 auto;
    padding: 0 0.5rem;
    overflow: clip;
}